# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]ut/

# IDE
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
logs/
*.log

# User-specific
*.rsuser
*.userprefs

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
*.sln.iml
